[submodule "submodules/Nuklear"]
	path = submodules/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/IbrahimHindawi/scripts
